<footer>
  <div class="footer-container">
    <div class="footer-column">
      <h3>fEATURED sALE</h3>
      <ul>
        <li>
          <a href="#">Alexis Hudson</a>
        </li>
        <li>
          <a href="#"> American Apparel</a>
        </li>
        <li>
          <a href="#">Ben Sherman</a>
        </li>
        <li>
          <a href="#"> Big Buddha</a>
        </li>
        <li>
          <a href="#"> Chanel</a>
        </li>
        <li>
          <a href="#"> Christian</a>
        </li>
        <li>
          <a href="#">Audigier</a>
        </li>
        <li>
          <a href="#"> Coach Cole Haan</a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>fEATURED sALE</h3>
      <ul>
        <li>
          <a href="#">Alexis Hudson</a>
        </li>
        <li>
          <a href="#"> American Apparel</a>
        </li>
        <li>
          <a href="#">Ben Sherman</a>
        </li>
        <li>
          <a href="#"> Big Buddha</a>
        </li>
        <li>
          <a href="#"> Chanel</a>
        </li>
        <li>
          <a href="#"> Christian</a>
        </li>
        <li>
          <a href="#">Audigier</a>
        </li>
        <li>
          <a href="#"> Coach Cole Haan</a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>fEATURED sALE</h3>
      <ul>
        <li>
          <a href="#">Alexis Hudson</a>
        </li>
        <li>
          <a href="#"> American Apparel</a>
        </li>
        <li>
          <a href="#">Ben Sherman</a>
        </li>
        <li>
          <a href="#"> Big Buddha</a>
        </li>
        <li>
          <a href="#"> Chanel</a>
        </li>
        <li>
          <a href="#"> Christian</a>
        </li>
        <li>
          <a href="#">Audigier</a>
        </li>
        <li>
          <a href="#"> Coach Cole Haan</a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>fEATURED sALE</h3>
      <ul>
        <li>
          <a href="#">Alexis Hudson</a>
        </li>
        <li>
          <a href="#"> American Apparel</a>
        </li>
        <li>
          <a href="#">Ben Sherman</a>
        </li>
        <li>
          <a href="#"> Big Buddha</a>
        </li>
        <li>
          <a href="#"> Chanel</a>
        </li>
        <li>
          <a href="#"> Christian</a>
        </li>
        <li>
          <a href="#">Audigier</a>
        </li>
        <li>
          <a href="#"> Coach Cole Haan</a>
        </li>
      </ul>
    </div>

  </div>



  <div class="copyright">
    Copyright © 2013 Css Author
  </div>


</footer>