<div class="hot-items">
    <div class="hot-items-content">
        <div class="hot-item" *ngFor="let item of hotItems">
            <img src="assets/images/{{item.img}}" alt="">
            <div class="hot-item-panel">
                <span class="hot-item-name">{{item.name}}</span>
                <button class="shop">SHOP</button>
            </div>
        </div>


    </div>
</div>

<h2 class="fatured">FEATURED PRODUCTS</h2>

<div class="shop-items">
    <div class="shop-items-content">
        <div class="item-content" *ngFor="let item of items">
            <div class="item">
                <img src="assets/images/{{item.img}}" alt="">
                <span class="item-name">{{item.name}}</span>
                <div class="item-panel">
                    <span class="item-price">${{item.price}}</span>
                    <button class="buy">BUY NOW</button>
                </div>
            </div>
        </div>

    </div>

</div>